doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;300;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  // <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  link(rel='stylesheet' href='../libs/css/bootstrap.css')
  link(rel='stylesheet' href='../css/register.css')
  title Battery SignOut
.divides
  .dashboard(style='height: 110.5vh;')
    ul.list
      li#head Dockville Parking
      hr
      li#dash
        span#position
          a.dropdown-item(href='dashboard.html') Dashboard
      // <li class="dark">Parking</li>
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Parking
        ul.dropdown-menu
          li
            a.dropdown-item(href='parking.html') Pick vehicle type
          li
            a.dropdown-item(href='#') Another action
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Tyre Clinic
        ul.dropdown-menu
          li
            a.dropdown-item(href='tyre-clinic.html') Tyre Price
          li
            a.dropdown-item(href='tyre-services.html') Tyre Services
      li#dashboard.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Battery Section
        ul.dropdown-menu
          li
            a.dropdown-item(href='battery-section.html') Hire Battery
          li
            a.dropdown-item(href='batterysignout.html ') SignOut Battery
  .divider2
    #register.container-fluid
      h3 SignOut Battery Here
      form#batterysignout(name='batterysignout' method='POST' action='#' onsubmit='return Validate(event)')
        .form-group
          label(for='firstname') First Name
          input#firstname.form-control(type='text' placeholder="Enter receiver's first name" name='firstname')
          // first name error
          span#firstnameerror
        br
        .form-group
          label(for='lastname') Last Name
          input#lastname.form-control(type='text' placeholder="Enter receiver's last name" name='lastname')
          // last name error
          span#lastnameerror
        br
        .form-group
          label(for='receiptnumber') Receipt Number
          input#receiptnumber.form-control(type='text' placeholder='Enter Receipt Number')
        span#receiptnumbererror
        br
        .form-group
          label(for='time') Time 
          input#time.form-control(type='time')
        span#timeerror
        br
        .form-group
          label(for='Date') Date
          input#date.form-control(type='date')
        span#dateerror
        br
        button.btn.btn-primary.form-width(type='submit' name='submit') Sign Out
    #footer.container-fluid
      .row
        #foot-left.col-md-4.col-sm-12
          h3 Dockville Parking
          p
            | Built to offer you that one time parking, clinic and accesories solution. Bluit around Design thinking to offer the greatest features and maintain its standardc inorder to resonate the user needs
          p.social Facebook   Twitter   Instagram
        #foot-mid.col-md-4.col-sm-12
          h4 Menu
          a(href='') About
          br
          a(href='')  Recent Products 
          br
          a(href='') Featured Products
          br
          a(href='') Testimonials
          br
          a(href='') Product Galleries
          br
          p.copyright All rights reserved to IosApps
        #foot-right.col-md-4.col-sm-12
          h4 Company
          a(href='') FAQ
          br
          a(href='') Terms and Conditions
          br
          a(href='') Privacy and Policies
          br
          a(href='') Support
          br
          p#website
            a(href='')
              | info@iosapps.com
script(src='../JS/batterysignout.js')
script(src='../libs/js/bootstrap.bundle.min.js')
