doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dashboard
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;300;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  script(src='https://cdn.plot.ly/plotly-latest.min.js')
  link(rel='stylesheet' href='../libs/css/bootstrap.css')
  link(rel='stylesheet' href='../css/dashboard.css')
.divides
  .dashboard
    ul.list
      li#head Dockville Parking
      hr
      li#dashboard
        span#position Dashboard
      // <li class="dark">Parking</li>
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Parking
        ul.dropdown-menu
          li
            a.dropdown-item(href='parking') Pick vehicle type
          li
            a.dropdown-item(href='#') Another action
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Tyre Clinic
        ul.dropdown-menu
          li
            a.dropdown-item(href='tyreclinic') Tyre Price
          li
            a.dropdown-item(href='tyreservices') Tyre Services
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Battery Section
        ul.dropdown-menu
          li
            a.dropdown-item(href='batteryservices') Hire Battery
          li
            a.dropdown-item(href='batterysignout') SignOut Battery
      a.btn(style='margin-left: 15px; margin-top: 20px; background-color: #ED7B7B; color:#4682A9; font-size:14.5px; font-weight:bold;}'  href="/api/logout" onclick='return Confirm(event)') Logout
  .divider2
    #welcome.container-fluid
      .row
        #left.col-sm-6
          h4 Welcome back Manager!
        #right.col-sm-6
          i#user.fa-solid.fa-user
          h4.top Manager #{inUser}
    #report.container-fluid
      h4.report-h4 Parker Weekly Report
      p.report-p Track the system statitics
      //- button.report-button
      a.report-button(href='/api/weeklyrevenue') View
    #mid-low.container-fluid
      .row
        .col-md-4.col-sm-12.card1
          i#car-icon.fa-solid.fa-car
          h3.card-h3 Revenue from cars parked today
          p  #{dRevenue}
        .col-md-4.col-sm-12.card2
          i#car-icon.fa-solid.fa-car
          h3.card-h3 Total Cars Parked today
          p #{numberOfDocuments}
        .col-md-4.col-sm-12.card3
          ii#car-icon.fa-solid.fa-car
          h3.card-h3 Revenue from Day option Parkers 
          p #{totalForDay}
    //- .mid-part
    #footer.container-fluid
      .row
        #foot-left.col-md-4.col-sm-12
          h3 Dockville Parking
          p#dockpara
            | Built to offer you that one time parking, clinic and accesories solution. Bluit around Design thinking to offer the greatest features and maintain its standardc inorder to resonate the user needs
          p.social Facebook   Twitter   Instagram
        #foot-mid.col-md-4.col-sm-12
          h4 Menu
          a(href='') About
          br
          a(href='') Park Galleries
          br
          p.copyright All rights reserved to IosApps
        #foot-right.col-md-4.col-sm-12
          h4 Company
          a(href='') Terms and Conditions
          br
          a(href='') Privacy and Policies
          br
          a(href='') System Support
          p#website
            a(href='')
              | info@iosapps.com
script(src='../libs/js/bootstrap.bundle.min.js')
script(src='../js/logout.js')
//- script(src='/JS/graph.js')
