<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:wght@100;300;400;700&family=Montserrat:wght@100;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/index.css" />
    <link rel="stylesheet" href="../public/libs/css/bootstrap.css" />
    <title>Dockville Night and Day Parking</title>
  </head>
    <div class="container" id="all">
      <div class="main">
        <img src="../public/images/DockVille Day and Night Parking -logos_white.png" alt="" />
      </div>
      <div class="design">
        <div id="carouselExampleCaptions"class="carousel slide carousel-fade"data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <img src="../public/images/park1.jpg"class="d-block w-100"id="imageheight"alt="..."/>
              <div class="carousel-caption d-none d-md-block">
                <h3>Parking Services</h3>
                <button class="login" onclick="location.href='login.html'">
                  Login
                </button>
                <button class="signup" onclick="location.href='signup.html'">
                  SignUp
                </button>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img
                src="../public/images/battery.jpg"
                class="d-block w-100"
                id="imageheight_2"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Battery Services</h3>
                <button class="login" onclick="location.href='login.html'">
                  Login
                </button>
                <button class="signup" onclick="location.href='signup.html'">
                  SignUp
                </button>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img
                src="../public/images/cartyre.jpg"
                class="d-block w-100"
                id="imageheight_3"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Car Tyre Clinic</h3>
                <button class="login" onclick="location.href='login.html'">
                  Login
                </button>
                <button class="signup" onclick="location.href='signup.html'">
                  SignUp
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../public/libs/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
