<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@100;300;400;700&family=Montserrat:wght@100;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../libs/css/bootstrap.css">
    <title>Dockville Night and Day Parking</title>
</head>
<body>
    <!-- <h1>Dockville Night and Day Parking</h1>
    <div id="center">
        <button>Login</button>
        <button>SignUp</button>
    </div> -->
    <div class="design">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade"  data-bs-ride="carousel">
            <!-- <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="../images/park.jpg" class="d-block w-100 " id="imageheight" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h2>Dockville Night and Day Parking</h2>
                    <h3>Parking Services</h3>
                    <button class="login" onclick="location.href='login.html'">Login</button>
                    <button class="signup"  onclick="location.href='signup.html'">SignUp</button>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/battery.jpg" class="d-block w-100" id="imageheight_2"  alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h2>Dockville Night and Day Parking</h2>
                    <h3>Battery Services</h3>
                    <button class="login"  onclick="location.href='login.html'">Login</button>
                    <button class="signup" onclick="location.href='signup.html'">SignUp</button>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="../images/tyre.jpg" class="d-block w-100" id="imageheight_3" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h2>Dockville Night and Day Parking</h2>
                    <h3>Car Tyre Clinic</h3>
                    <button class="login"  onclick="location.href='login.html'">Login</button>
                    <button class="signup" onclick="location.href='signup.html'">SignUp</button>
                    </div>
                </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"> -->
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button> -->
        </div>
        <!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="../images/battery.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../images/park.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../images/engine.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->
    </div>
    <script src="../libs/js/bootstrap.bundle.min.js"></script>
</body>
</html>