doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/libs/css/bootstrap.css')
  link(rel='stylesheet' href='/css/signup.css')
  title Sign Up
.container
  .row
    #back-img.col-sm-8.margin
      p(is='para-0')
        span#smart Dockville parking 
        |  allows you to manage or plan and schedule as we focus on simply delivering quality
      p#para Mugarura Edwin
      p#para-1 Development Agency
    .col-sm-4.margin
      h2 Create an account
      form#signup_form(name='signup_form' action='/api/regmanager' method='POST' onsubmit='return Validate(event)')
        .form-group
          label(for='firstname')
            | First Name
            span.red *
          input#firstname.form-control(type='text' placeholder='Enter First Name' name='firstname')
        span#firstnameerror
        .form-group
          label(for='lastname')
            | Last Name
            span.red *
          input#lastname.form-control(type='text' placeholder='Enter Last Name' name='lastname')
        span#lastnameerror
        .form-group
          label(for='email')
            | Email address
            span.red *
          input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email' name='email')
          small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        span#emailerror
        select#role.form-select(aria-label='Role' name='role')
          option(value='') Pick Manager Role
          option(value='parking') Parking Section 
          option(value='tyre') Tyre Clinic 
          option(value='battery') Battery Section
        span#roleerror
        br
        .form-group
          label(for='picture')
            | Take / Choose a Picture of your face:
            span.red *
          input#picture.form-control(type='file' name='picture' accept='image/*' capture='user')
        span#pictureerror
        br
        .form-group
          label(for='password')
            | Password
            span.red *
          input#password.form-control(type='password' placeholder='Password' name='password')
        span#passworderror
        .form-group
          label(for='confirmpassword')
            | Confirm Password
            span.red *
          input#confirmpassword.form-control(type='password' placeholder='Retype Password' name='confirmpassword')
        span#confirmpassworderror
        button#sumbit.btn.btn-primary.form-width(type='submit' name='submit') Create Account
        button.btn.btn-light.form-width.google
          | Sign Up with 
          span#g-1 G
          span#o-1 o
          span#o-2 o
          span#g-2 g
          span#l l
          span#e e
        p.account
          | Already have an account? 
          a(href='login.html') Login

script(src='/libs/js/bootstrap.bundle.min.js')
script(src='../JS/signup.js')
