<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aff02a4ba3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/libs/css/bootstrap.css">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 margin" id="back-img">
                <p is="para-0"><span id="smart">Dockville parking </span> allows you to manage or plan and schedule as we focus on simply delivering quality</p>
                <p id="para">Mugarura Edwin</p>
                <p id="para-1">Development Agency</p>
            </div>
            <div class="col-sm-4 margin">
                <h2>Create an account</h2>
                <p>Let's get started with your 30 day free trial</p>
                <form name="signup_form" id="signup_form" action="#" method="POST" onsubmit="return Validate(event)">
                    <div class="form-group">
                        <label for="firstname">First Name<span class="red">*</span></label>
                        <input type="text" class="form-control" id="firstname"  placeholder="Enter First Name" name="firstname">
                      </div>
                      <span id="firstnameerror"></span>
                    <div class="form-group">
                        <label for="lastname">Last Name<span class="red">*</span></label>
                        <input type="text" class="form-control" id="lastname"  placeholder="Enter Last Name" name="lastname">
                    </div>
                    <span id="lastnameerror"></span>
                    <div class="form-group">
                      <label for="email">Email address<span class="red">*</span></label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <span id="emailerror"></span>
                    <div class="form-group">
                      <label for="password">Password<span class="red">*</span></label>
                      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                    <span id="passworderror"></span>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password<span>*</span></label>
                        <input type="password" class="form-control" id="confirmpassword" placeholder="Retype Password" name="confirmpassword">
                      </div>
                      <span id="confirmpassworderror"></span>
                    <button type="submit" class="btn btn-primary form-width" id="sumbit" name="submit">Create Account</button>
                    <button class="btn btn-light form-width google">Sign Up with <span id="g-1">G</span><span id="o-1">o</span><span id="o-2">o</span><span id="g-2">g</span><span id="l">l</span><span id="e">e</span></button>
                  
                    <p class="account">Already have an account? <a href="login.html">Login</a></p>
                  </form>
            </div>
        </div>
    </div>
    <script src="/libs/js/bootstrap.bundle.min.js"></script>
    <script src="../JS/signup.js"></script>
</body>
</html>