<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aff02a4ba3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/libs/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/tyre-clinic.css">
    <title>Tyre Clinic</title>
</head>
<body>
    <div id="nav">
        <nav class="navbar navbar-expand-lg bg-info-subtle">
          <div class="container-fluid" >
            <a class="navbar-brand" href="dashboard.html">Dockville Parking</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="dashboard.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Parking
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="parking.html">Pick vehicle type</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tyre Clinic
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Battery Section
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex" role="search" >
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
    </div>
      <div class="clinic-top">
        <h2 class="top" >Tyre Clinic Unit</h2>
        <hr>
        <h4 class="action">Determine Tyre Price</h4>
      </div>
      <div id="register" class="container-fluid"> 
        <h4>Enter details to determine Car Tyre Price </h4>
        <form name="tyreclinicform" id="tyreclinicform" method="POST" action="#" onsubmit="return Validate(event);">
            <div class="form-group">
                <label for="name"> TireSize</label>
                <input type="text" class="form-control" id="tiresize"  name="tiresize" placeholder="Enter car tire size">
              </div>
              <span id="tiresizeerror"></span>
              <br>
              <select class="form-select" aria-label="Default select example" name="type" id="type">
                <option value="" >Select Automobile make</option>
                <option value="truck">Truck</option>
                <option value="taxi">Taxi</option>
                <option value="personalcar">Personal Car</option>
                <option value="coaster">Coaster</option>
                <option value="bodaboda">BodaBoda</option>
              </select>
              <span id="typeerror"></span>
              <br>
              <select class="form-select" aria-label="Default select example" name="carmodel" id="carmodel">
                <option value="" >Select Automobile model</option>
                <option value="hactchback">Hatch Back</option>
                <option value="sedan">Sedan</option>
                <option value="suv">SUV</option>
                <option value="coupe">Coupe</option>
                <option value="convertible">Convertible</option>
                <option value="sportscar">Sports Car</option>
                <option value="minivan">Mini Van</option>
                <option value="stationwagon">Station Wagon</option>
                <option value="crossover">Cross Over</option>
                <option value="pickuptruck">Pickup Truck</option>
              </select>
              <span id="carmodelerror"></span>
              <br>
            <span id="total"></span>
            <br>
            <button type="submit" name="submit" id="submit" class="btn btn-primary form-width">Print Receipt</button>
          </form>
      </div>
      <div class="container-fluid" id="footer">
        <div class="row">
          <div class="col-md-4 col-sm-12" id="foot-left">
            <h3>Dockville Parking</h3>
            <p>Built to offer you that one time parking, clinic and accesories solution. Bluit around Design thinking to offer the greatest features and maintain its standardc inorder to resonate the user needs</p>
            <p class="social">Facebook   Twitter   Instagram</p>
          </div>
          <div  class="col-md-4 col-sm-12" id="foot-mid">
            <h4>Menu</h4>
            <a href="">About</a><br>
            <a href=""> Recent Products </a><br>
            <a href="">Featured Products</a><br>
            <a href="">Testimonials</a><br>
            <a href="">Product Galleries</a><br>
            <p class="copyright">All rights reserved to IosApps</p>
          </div>
          <div  class="col-md-4 col-sm-12" id="foot-right">
            <h4>Company</h4>
            <a href="">FAQ</a><br>
            <a href="">Terms and Conditions</a> <br>
            <a href="">Privacy and Policies</a><br>
            <a href="">Support</a><br>
            <p id="website"><a href="">info@iosapps.com </a</p>
          </div>
        </div>
      </div>
    <script src="../public/libs/js/bootstrap.bundle.min.js"></script>
    <script src="../public/JS/tyreclinic.js"></script>
</body>
</html>