doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/libs/css/bootstrap.css')
  link(rel='stylesheet' href='/css/tyre-services.css')
  title Tyre Clinic
#nav
  nav.navbar.navbar-expand-lg.bg-info-subtle
    .container-fluid
      a.navbar-brand(href='dashboard') Dockville Parking
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='dashboard') Home
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Parking
            ul.dropdown-menu
              li
                a.dropdown-item(href='parking') Pick vehicle type
              li
                a.dropdown-item(href='#') Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Something else here
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Tyre Clinic
            ul.dropdown-menu
              li
                a.dropdown-item(href='#') Action
              li
                a.dropdown-item(href='#') Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Something else here
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Battery Section
            ul.dropdown-menu
              li
                a.dropdown-item(href='#') Action
              li
                a.dropdown-item(href='#') Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Something else here
        form.d-flex(role='search')
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success(type='submit') Search
.clinic-top
  h2.top Tyre Services
  hr
  h4.action Select Service
#register.container-fluid
  h4 Check tyre service needed 
  form
    .form-check
      input#pressure.form-check-input(type='checkbox')
      label.form-check-label(for='pressure') Tire Pressure
    br
    .form-check
      input#puncture.form-check-input(type='checkbox')
      label.form-check-label(for='puncture') Puncture fixing
    br
    .form-check
      input#valves.form-check-input(type='checkbox')
      label.form-check-label(for='valves') Valves
    br
    button.btn.btn-primary.form-width(type='submit') Print Receipt
    br
    h6 Key to remember
    p
      | Car tire service specifications
      ul.unorder
        li +  tire pressure @ 500
        li +  puncture fixing @ 5000
        li +  valves @ 5000
#footer.container-fluid
  .row
    #foot-left.col-md-4.col-sm-12
      h3 Dockville Parking
      p
        | Built to offer you that one time parking, clinic and accesories solution. Bluit around Design thinking to offer the greatest features and maintain its standardc inorder to resonate the user needs
      p.social Facebook   Twitter   Instagram
    #foot-mid.col-md-4.col-sm-12
      h4 Menu
      a(href='') About
      br
      a(href='')  Recent Products 
      br
      a(href='') Featured Products
      br
      a(href='') Testimonials
      br
      a(href='') Product Galleries
      br
      p.copyright All rights reserved to IosApps
    #foot-right.col-md-4.col-sm-12
      h4 Company
      a(href='') FAQ
      br
      a(href='') Terms and Conditions
      br
      a(href='') Privacy and Policies
      br
      a(href='') Support
      br
      p#website
        a(href='')
          | info@iosapps.com
script(src='/libs/js/bootstrap.bundle.min.js')
