doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  link(rel='stylesheet' href='../libs/css/bootstrap.css')
  link(rel='stylesheet' href='../css/tyre-clinic.css')
  title Tyre Clinic
.divides
  .dashboard
    .menu-btn
      i.fas.fa-bars
    .side-bar
      header
        .close-btn
          i.fas.fa-times
        //- img(src='/images/Cv picture.jpeg' alt='')
        h1 Dockville Parking
      .menu
        .item
          a(href='dashboard')
            i.fas.fa-desktop
            | Dashboard
        .item
          a.sub-btn
            i.fas.fa-table
            | Battery Section
            // Dropdown
            // Dropdwon arrow
            i.fas.fa-angle-right.dropdown
          .sub-menu
            a.sub-item(href='batteryservices') Battery Hire
            a.sub-item(href='batterysignout') Battery Signout
            // <a href="" class="sub-item"></a>
        .item
          a.sub-btn
            i.fas.fa-th
            | Parking
            // Dropdown
            // Dropdwon arrow
            i.fas.fa-angle-right.dropdown
          .sub-menu
            a.sub-item(href='register') Park Register
            a.sub-item(href='signout') Park Signout
            a.sub-item(href='othersignout') Other Signout
        .item
          a.sub-btn
            i.fas.fa-cog
            | Tyre Section
            // Dropdown
            // Dropdwon arrow
            i.fas.fa-angle-right.dropdown
          .sub-menu
            a.sub-item(href='tyreclinic') Tyre Clinic
            a.sub-item(href='tyreservices') Tyre Services
            a.sub-item(href='')
        .item
          a.sub-btn
            i.fas.fa-th
            | Lists
            // Dropdown
            // Dropdwon arrow
            i.fas.fa-angle-right.dropdown
          .sub-menu
            a.sub-item(href='parkerlist') Parker List
            a.sub-item(href='batterylist') Battery List
            a.sub-item(href='tyrelist') TyreClinic List
            a.sub-item(href='tyreservicelist') TyreServices List
  .divider2
    .clinic-top
      h2.top Tyre Clinic Unit
      hr
      h4.action Determine Tyre Price
    #register.container-fluid
      h4#begin Enter details to determine Car Tyre Price 
      form#tyreclinicform(name='tyreclinicform' method='POST' action='/api/regtyre' onsubmit='return Validate(event);')
        .form-group
          label(for='firstname') First Name
          input#firstname.form-control(type='text' placeholder="Enter driver's first name" name='firstname')
          // first name error
          span#firstnameerror
        br
        .form-group
          label(for='lastname') Last Name
          input#lastname.form-control(type='text' placeholder="Enter driver's last name" name='lastname')
          // last name error
          span#lastnameerror
        br
        .form-group
          label(for='email') Email
          input#email.form-control(type='email' name='email')
          span#emailerror
        br
        .form-group
          label(for='Date') Date
          input#date.form-control(type='date' name='date')
        span#dateerror
        br
        .form-group
          label(for='phonenumber') Phone Number
          input#phonenumber.form-control(type='tel' name='phonenumber')
          span#phonenumbererror
        br
        .form-group
          label(for='tyresize')  TyreSize
          input#tyresize.form-control(type='text' name='tyresize' placeholder='Enter car tyre size')
        span#tyresizeerror
        br
        select#type.form-select(aria-label='Default select example' name='type')
          option(value='') Select Automobile make
          option(value='truck') Truck
          option(value='taxi') Taxi
          option(value='personalcar') Personal Car
          option(value='coaster') Coaster
          option(value='bodaboda') BodaBoda
        span#typeerror
        br
        select#carmodel.form-select(aria-label='Default select example' name='carmodel')
          option(value='') Select Automobile model
          option(value='hactchback') Hatch Back
          option(value='sedan') Sedan
          option(value='suv') SUV
          option(value='coupe') Coupe
          option(value='convertible') Convertible
          option(value='sportscar') Sports Car
          option(value='minivan') Mini Van
          option(value='stationwagon') Station Wagon
          option(value='crossover') Cross Over
          option(value='pickuptruck') Pickup Truck
        span#carmodelerror
        .form-group
          label(for='receiptnumber') 
          input#receiptnumber.form-control(type='text' name='receiptnumber' style="display: none;")
          span#receiptnumbererror
        br
        .form-group
          label(for='quantity')  Quantity
          input#quantity.form-control(type='number' name='quantity' placeholder='Enter tyre quantity')
        span#quantityerror
        br
        .form-group
          label(for='total') 
          input#totalinput.form-control(type='number' name='total' style="display: none;")
        // <p id="total" name="total"></p>
        br
        button#submit.btn.btn-primary.form-width(type='submit' name='submit') Register Tyre
    #footer.container-fluid
      .row
        #foot-left.col-md-4.col-sm-12
          h3 Dockville Parking
          p
            | Built to offer you that one time parking, clinic and accesories solution. Bluit around Design thinking to offer the greatest features and maintain its standardc inorder to resonate the user needs
          p.social Facebook   Twitter   Instagram
        #foot-mid.col-md-4.col-sm-12
          h4 Menu
          a(href='') About
          br
          a(href='')  Recent Products 
          br
          a(href='') Featured Products
          br
          a(href='') Testimonials
          br
          a(href='') Product Galleries
          br
          p.copyright All rights reserved to IosApps
        #foot-right.col-md-4.col-sm-12
          h4 Company
          a(href='') FAQ
          br
          a(href='') Terms and Conditions
          br
          a(href='') Privacy and Policies
          br
          a(href='') Support
          br
          p#website
            a(href='')
              | info@iosapps.com
script(src='../libs/js/bootstrap.bundle.min.js')
script(src='../JS/tyreclinic.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js')
script(src='/js/scripts.js')
