@media (min-width:1356px){
    /* body{
        background-color: gray !important;
    } */
    .card3{
        /* margin-top:10px; */
        margin-left: 100px !important;
        
       }
    .card2{
        margin-left: 100px !important;
    }
    .card1{
        margin-left: 100px !important;
    }
    #foot-left{
        margin-left: 150px !important;
        
       
    }
    #foot-mid{
        margin-left: 150px !important;
        
    
    }
    #foot-right{
        margin-left:150px !important;
     
    }
}
@media (min-width:1196px) and (max-width:1355px){
    /* body{
        background-color: brown !important;
    } */
    .card3{
        /* margin-top:10px; */
        height: 250px !important;
        width: 300px !important;
        
       }
    .card2{
        height: 250px !important;
        width: 300px !important;
    }
    .card1{
        height: 250px !important;
        width: 300px !important;
    }

}
@media (min-width:976px) and (max-width:1195px){
    /* body{
        background-color: blueviolet !important;
    } */
    .card3{
       
        height: 250px !important;
        width: 300px !important;
        
       }
    .card2{
        height: 250px !important;
        width: 300px !important;
    }
    .card1{
        height: 250px !important;
        width: 300px !important;
    }
}
@media (min-width: 861px) and (max-width:975px){
    /* body{
        background-color: orange !important;
    } */
    .card3{
        margin-top:10px;
        height: 250px !important;
        width: 300px !important;
        
       }
    .card2{
        height: 250px !important;
        width: 300px !important;
    }
    .card1{
        height: 250px !important;
        width: 300px !important;
    }
}
@media (min-width:765px) and (max-width:860px){
  body{
    font-size: 13px;
    /* background-color: greenyellow !important; */
   }
   
   .card3{
    margin-top:10px;
    height: 250px !important;
    width: 300px !important;
    
   }
.card2{
    height: 250px !important;
    width: 300px !important;
    margin-top:10px;
}
.card1{
    height: 250px !important;
    width: 300px !important;
    margin-left: 10px !important;
}
}
/*Being applied on the largest size on laptop*/
@media (min-width:576px) and (max-width:768px){
    /* body{
        background-color: aquamarine !important;
    } */
    .card3{
        margin-top:10px;
        height: 250px !important;
        width: 300px !important;
        
       }
    .card2{
        height: 250px !important;
        width: 300px !important;
        margin-top:10px;
    }
    .card1{
        height: 250px !important;
        width: 300px !important;
    }
}
/*Being applied on the phone sizes*/
@media (min-width:481px) and (max-width:575px){
    /* body{
        background-color: red !important;
    } */
    h4{
        font-size: 20px !important;
    }
    p{
        font-size: 15px !important;
    }
    h3{
        font-size: 15px !important;
    }
    .card3{
        margin-top:10px;
        height: 250px !important;
        width: 300px !important;
        
       }
    .card2{
        height: 250px !important;
        width: 300px !important;
        margin-top:10px;
    }
    .card1{
        height: 250px !important;
        width: 300px !important;
    }
    #foot h4{
        font-size: 10px  !important;
    }
    #dockpara{
        font-size: 10px  !important;
        width: 300px;
    }
    .shrink{
        font-size: 15px !important;
    }
    .links{
        font-size: 10px !important;
    }
    .top{
        font-size: 16px !important;
        font-weight: 300 !important;
    }
}
/* @media (min-width:481px) and (max-width:700px){
    body{
     font-size: 10px;
    }
    #dashboard{
        padding: 10px;
    }
    .card3{
        margin-top:10px ;
       }
    } */

@media (max-width:480px){
    /* body{
        background-color: red !important;
    } */
    h4{
        font-size: 18px !important;
    }
    p{
        font-size: 14px !important;
    }
    h3{
        font-size: 14px !important;
    }
    .card3{
        margin-top:10px;
        height: 250px !important;
        width: 300px !important;
        
       }
    .card2{
        height: 250px !important;
        width: 300px !important;
        margin-top:10px;
    }
    .card1{
        height: 250px !important;
        width: 300px !important;
    }
    #foot h4{
        font-size: 10px  !important;
    }
    #dockpara{
        font-size: 10px  !important;
        width: 200px;
    }
    .shrink{
        font-size: 15px !important;
    }
    .links{
        font-size: 10px !important;
    }
    .header h1{
        font-size: 10px !important;
    }
    .menu .item a{
        font-size: 10px !important;
    }
    .menu-btn{
        font-size: 20px;
    }
    .top{
        font-size: 16px !important;
        font-weight: 300 !important;
    }
    #stat{
        font-size: 11.5px !important;
    }

}


body{
    background-color: #D8D9DA;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Work Sans', sans-serif;

}
#nav{
    background-color: #749BC2 ;
    font-family: 'Work Sans', sans-serif;
}
.navbar{
    background-color:#3f4d60  !important;
    font-family: 'Work Sans', sans-serif;
}
.nav-link{
    color:#D8D9DA;
}
.nav-link:hover{
    color:#fff;
}
#change{
    color: #fff;
}
.navbar-brand{
    color: #fff;
}

/* dashboard css */
.divides{
   display: flex;
}

.list{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 10px;
}
.dashboard{
    height: 130.5vh;
    width: 70px;
    border: 1px solid;
    border-radius: 0px;
    margin-right: 0px;
    background-color: #4682A9;
    background-color: #395464;
    position: fixed;

}
hr{
    padding-left: 0px;
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    color: grey;
}
#head{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}
.list li{
    margin-bottom: 10px;
    height:50px;
    padding-left: 20px;
    padding-top: 12px;
    
}
#dashboard{
    border: 1px solid;
    color: white;
    background-color: #749BC2;
    border-radius: 25px;
}

.dark:hover{
    border: 1px solid;
    color: white;
    background-color: black;
    border-radius: 25px;
    
}

.divider2{
    width: 100%;
    margin-left: 60px;
    
}

/*drop down menu */

.dropdown-menu{
    background-color: #3f4d60;;
}
.dropdown-item{
    color: #F6F4EB;
    padding-left: 5px !important;
    padding-right: 7px !important;
    margin-bottom: 10px !important;
}
.dropdown-item:hover{
    color: #749BC2;
}



#welcome{
    margin-top: 30px;
    /* background-color: #A7EDE7; */
    width: 100%;
    border-radius: 5px;
}

#left{
    padding-left: 20px;
    background-color: #4682A9;
    background-color:#395464;
    font-family: 'fraunces', serif;
    font-family: 'Work Sans', sans-serif;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #F6F4EB;

    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
   
}
#right{
    margin-left: 955px;
    width: 185px;
    background-color: #4682A9;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family:'Didot', "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; font-size: 24px; font-style: normal;
    color: #F6F4EB;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    margin-top: -60px;
}
.top{
    float: right;
    font-size: 15px;
    margin-top: -40px;
    /* padding: 5px 5px; */
    margin-right: 50px !important;
    color: #fff;
    /* margin-left: px; */

}
.profile-image{
    height:30px;
    border-radius: 15px;
}
#report{
    margin-top: 20px;
    background-image: url(../images/stat.png);
    background-size: cover;
     font-family: 'Work Sans', sans-serif;
    color: white;
    /* background-color: beige; */
    height: 300px;
}
.report-h4{
    padding-top: 60px;
    margin-left: 100px;
    font-size: 35px;
    color: #F6F4EB;
}
.report-p{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 25px;
    color: #F6F4EB;
}

a{
    text-decoration: none;
    color:white;
}
.report-button{
    margin-bottom: 30px;
    margin-left: 100px;
    height: 50px;
    width: 150px;
    padding:10px ;
    border: 1px groove;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    background-color: #4682A9;
}
#mid-low{
    margin-top: 30px;
    padding-left: 30px;
    font-family: 'Work Sans', sans-serif;
}
.card1{
    /* padding-top: 30px; */
    margin-left: 10px;
    background-color: #4682A9;
    background-color: #1E2E37;
    background-color: #395464;
    width:350px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    height:300px;
    color: #fff;
}
.card1:hover{
    opacity: 1;
}
.card1 p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Work Sans', sans-serif;
}
.card2 p{
    margin-top: 20px;
    padding-bottom: 20px;
}
.card3 p{
    margin-top: 20px;
    padding-bottom: 20px;
}
.card-h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}
.card2{
    /* padding-top: 30px; */
    margin-left: 15px;
    background-color:  #4682A9;
    background-color: #1E2E37;
    background-color: #395464;
    width:350px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    height:300px;
    color: #c9cdd2;
    color: #fff;
}
.card3{
    /* padding-top: 30px; */
    width:350px;
    background-color:  #4682A9;
    background-color: #1E2E37;
    background-color: #395464;
    margin-left: 15px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    height:300px;
    color: #c9cdd2;
    color: #fff;
}
#car-icon{
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}
#clinic-icon{
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}
#battery-icon{
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}
.mid-part p{
    margin-top: 40px;
    text-align: center;
}
.mid-p{
    font-size: 45px;
    font-family: 'fraunces', serif;
    color: #4682A9;
    
}
.mid-p2{
    font-size: 18px;
    font-family: 'fraunces', serif;
    font-weight: 300;
    width:60%;
    margin-left: 280px;
    color: #4682A9;;
}
#before-foot{
    background-color: #E8F6EF;
    margin-top: 50px;
    text-align: center;
    /* margin-left: 40px; */
    margin-right: 110px;
}
.card-h3{
    padding-top: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}
.card4 p{
    margin-top: 5px;
    font-size: 17px;
    padding-left: 30px;
    text-align: left;
}
.card5 p{
    margin-top: 10px;
    font-size: 17px;
    padding-left: 30px;
    text-align: left;
}
.card6 p{
    margin-top: 10px;
    font-size: 17px;
    padding-left: 30px;
    text-align: left;
}

.card4{
    /* padding-top: 30px; */
    margin-left: 10px;
    background-color: #4682A9;
    width:350px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    height:300px;
    color: #fff;
}
.card5{
    /* padding-top: 30px; */
    margin-left: 15px;
    background-color: #4682A9;
    width:350px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    height:300px;
    color: #fff;
}
.card6{
    /* padding-top: 30px; */
    width:350px;
    background-color: #4682A9;
    margin-left: 15px;
    text-align: center;
    font-family: 'fraunces', serif;
    height:300px;
    color: #fff;
}
.card-h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
}
#footer{
    background-color: #4682A9;
    background-color: #395464;
    margin-top: 50px;
    padding-top: 30px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}
#dockpara{
    color: #fff;
}
#footer a{
    text-decoration: none;
    color: #F6F4EB;
}
#foot-left{
    margin-left: 50px;
    width: 400px;
    font-size: 13px;
   
}
#foot-mid{
    margin-left: 40px;
    width: 300px;
    font-size: 13px;

}
#foot-right{
    margin-left:40px;
    width: 300px;
    font-size: 13px;
}
.social{
    margin-top: 40px;
    color: #F6F4EB;
}
.copyright{
    margin-top: 84px;
    color: #F6F4EB;
}
#website{
    margin-top: 63px;
}
.card2:hover{
    opacity: 1;
}
.card3:hover{
    opacity: 1;
}
.card4:hover{
    opacity: 1;
}
.card5:hover{
    opacity: 1;
}
.card6:hover{
    opacity: 1;
}
.dock{
    color: #fff;;
}
#user{
    border:1px solid white;
    padding: 7px;
    border-radius: 50%;
    margin-left: 10px;
    color: #fff;
}
.btn:hover{
     background-color: #395464 !important;
     border: 1px solid #395464;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif; 
}

body{
    min-height: 100vh;
    background: #fff;
    color: #fff;
    background-size: cover;
    background-position: center;

}

.side-bar{
    background-color: #4682A9;
    background-color: #395464;
    width:250px;
    height:100vh;
    position:fixed;
    left:-250px;
    top:0;
    overflow-y: auto;
    transition: 0.6s auto;
    transition-property: left;
}
header{
    background: #1c4f71;
    background: #1E2E37;;
}

header img{
    width:100px;
    margin:15px;
    margin-left: 70px;
    border-radius:50%;
    border: 3px solid #b4d8d9;
}
.close-btn{
    position: absolute;
    color: #fff;
    font-size: 23px;
    right: 0px;
    margin: 15px;
    cursor: pointer;
}
header h1{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 13px;
    font-family: 'Work Sans', sans-serif; 
    letter-spacing: 2px;
    padding-top: 50px;
}

.menu{
    width:100%;
    margin-top: 30px;
}
.menu .item{
    position: relative;
    cursor: pointer;
}
.menu .item a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}
.item i{
    margin-right: 15px;

}

.item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}
.item .sub-menu{
    background: #1c4f71;
    background: #1E2E37;;
    display: none;
}
.menu-btn{
    position: relative;
    color: rgb(white, white, white);
    font-size: 35px;
    cursor: pointer;
    margin: 25px;
}
.side-bar.active{
    left:0;
}

.side-bar::-webkit-scrollbar{
    width: 0px;
}
.item .sub-menu a{
    padding-left: 40px;
}
.rotate{
    transform: rotate(90deg);
}
/* #police:hover{
    background-color: #395464;
} */