 body{
   background-color: #F6F4EB ;
}

#nav{
    background-color: #749BC2 ;
    font-family: 'fraunces', serif;
}
.navbar{
    background-color:#3f4d60  !important;
    font-family: 'fraunces', serif;
}
.nav-link{
    color:#D8D9DA;
}
.nav-link:hover{
    color:#fff;
}
#change{
    color: #fff;
}
.navbar-brand{
    color: #fff;
}

/* dashboard css */
.divides{
   display: flex;
}

.list{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 10px;
}
.dashboard{
    height: 161vh;
    width: 20%;
    border: 1px solid;
    border-radius: 0px;
    margin-right: 5px;
    background-color: #4682A9;
}
hr{
    padding-left: 0px;
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    color: grey;
}
#head{
    font-family: serif;
    font-size: 25px;
    color: #fff;
}
.list li{
    margin-bottom: 10px;
    height:50px;
    padding-left: 20px;
    padding-top: 12px;
    
}
#dashboard{
    border: 1px solid;
    color: white;
    background-color: #749BC2;
    border-radius: 25px;
}

.dark:hover{
    border: 1px solid;
    color: white;
    background-color: black;
    border-radius: 25px;
    
}

.divider2{
    width: 80%;
}

/*drop down menu */

.dropdown-menu{
    background-color: #3f4d60;;
}
.dropdown-item{
    color: #F6F4EB;
    padding-left: 5px !important;
    padding-right: 7px !important;
    margin-bottom: 10px !important;
}
.dropdown-item:hover{
    color: #749BC2;
}
/* #park{

} */
.parking-top{
    background-color: #4682A9;;
    margin-left: 40px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin-top: 2px;
    color: #fff;

}
.top{
    margin-top: 30px;
    background-color: #4682A9;;
    /* font-family: 'Montserrat',serif;  */
    font-family:'Didot', "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
    /* font-size: 24px; 
    font-style: normal; */
}
.action{
    padding-top: 10px;
    background-color: #4682A9;;
    font-family: 'Fraunces', serif;
    font-size: 18px;
}
#nav{
    background-color: #A7EDE7;
    font-family: 'fraunces', serif;
}
#truck{
    font-family: 'Fraunces', serif;
    background-color: #4682A9;;
    width: 500px;
    margin-left: 50px;
    height:250px;
    margin-top: 30px;
    border-radius: 10px;
   color:#000000 ;
}
#car{
    font-family: 'Fraunces', serif;
    background-color: #4682A9;;
    width: 500px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    color:#000000 ;
}
#taxi{
    font-family: 'Fraunces', serif;
    background-color: #4682A9;;
    margin-left: 50px;
    width: 500px;
    height: 250px;
    margin-top: 30px;
    border-radius: 10px;
    color:#000000 ;
}
#coaster{
    font-family: 'Fraunces', serif;
    background-color: #4682A9;;
    width: 500px;
    height: 250px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    color:#000000 ;
}
#boda{
    font-family: 'Fraunces', serif;
    background-color: #4682A9;;
    width: 500px;
    height: 250px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    color:#000000 ;
}
#options{
    font-size: 20px;
    margin-top: 45px;
   
    
   
}
.options-a{
    color:#000000 ;
    text-decoration: none;
    border: 1px groove;
    border-radius: 10px;
    background-color: #91C8E4;
    
   
}
#a-right{
    padding: 13px;
    margin-left: 0px;
    padding-right: 110px;
}
#a-left{
    margin-left: 40px;
    padding: 13px;
    padding-right: 110px;
    
}
.h4{
    margin-top: 10px;
}
#truck-icon{
    font-size: 90px;
    margin-top: 20px;
}
#options2{
    font-size: 20px;
    margin-top: 15px;  
}
#b-right{
    padding: 13px;
    margin-left: 0px;
    padding-right: 110px;
}
#b-left{
    margin-left: 40px;
    padding: 13px;
    padding-right: 110px;
    
}
#car-icon{
    text-align: center;
    font-size: 90px;
    margin-top: 5px;
}
#options3{
    font-size: 20px;
    margin-top: 15px;  
}
#c-right{
    padding: 13px;
    margin-left: 0px;
    padding-right: 110px;
}
#c-left{
    margin-left: 40px;
    padding: 13px;
    padding-right: 110px;
    
}
#taxi-icon{
    text-align: center;
    font-size: 90px;
    margin-top: 5px;
}
#options4{
    font-size: 20px;
    margin-top: 15px;  
}
#d-right{
    padding: 13px;
    margin-left: 0px;
    padding-right: 110px;
}
#d-left{
    margin-left: 40px;
    padding: 13px;
    padding-right: 110px;
    
}
#coaster-icon{
    text-align: center;
    font-size: 90px;
    margin-top: 5px;
}

#options5{
    font-size: 20px;
    margin-top: 45px;
  
}
#e-right{
    padding: 13px;
    margin-left: 0px;
    padding-right: 110px;
}
#e-left{
    margin-left: 40px;
    padding: 13px;
    padding-right: 110px;
    
}
#boda-icon{
    font-size: 90px;
    margin-top: 20px;
}
/* .info{
    /* color: #fff; 
} */
#footer{
    background-color: #4682A9;
    margin-top: 50px;
    padding-top: 30px;
    font-family: 'fraunces', serif;  
    color: #fff;
}
#footer a{
    text-decoration: none;
    color: white;
}
#foot-left{
    margin-left: 40px;
    width: 400px;
    font-size: 13px;
}
#foot-mid{
    margin-left: 40px;
    width: 300px;
    font-size: 13px;

}
#foot-right{
    margin-left:40px;
    width: 300px;
    font-size: 13px;
}
.social{
    margin-top: 40px;
}
.copyright{
    margin-top: 20px;
}
#website{
    margin-top: 43px;
}
hr{
     color: white;
}